nav {
 background-color: black;
 min-height: 35vh;
 padding-top: 15px;
} 
 nav a {
  display: flex;
 
  justify-content:space-around ;
  padding: 15px;
  margin-top: 15px;
  color:#db7093;
  font-size: 20px;
 }